.filter_container {
    width: 60%;
    position: relative;
}

.filter_arrow {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    height: 100%;
}

.filter {
    border: none;
    outline: none;
    background: var(--bg-elements);
    color: var(--text-color);
    width: 100%;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: var(--input-font-size);
    box-shadow: var(--input-shadow);
}

.filter option {
    padding: 2rem;
}

@media screen and (min-width: 640px) {}